/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.5.2015, 13:23:47
    Author     : Petra
*/

#logo {
    width: 100%;
    
}

#logo img{
    
    width: 100%;
}

#menu {
    width: 20%;
    min-height: 200px;
    float:left;
    
}

#content {
    width: 72%; //full je 80%
    min-height: 200px;
    height: auto;
    background:green;
    float:right;
    padding: 0 4% 0 4%;
    
}

#footer {
    width: 100%;
    min-height: 50px;
    background:pink;
    clear:both;
    
}

#menu_buttons{
    
    width: 95%;
    height: auto;
    float:left;
}

#menu_right_side{
    
    width: 5%;
    height: inherit;
    background: #0099FF;
    float: right;
}

.menu_button{
    
    width: 100%;
    height: 40px;
    background: #0099FF;
    margin-bottom: 5px;
    text-align: center;
}

